.container {
  width: 100%;
  padding: var(--header-padding);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: var(--header-font-size);
  font-family: var(--main-font);
  line-height: 24px;
  color: var(--primary-text-color);
  background: var(--main-bg);
  z-index: 10;
  transition: var(--header-transition);

  &:after {
    transition: var(--header-transition);
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--header-padding);
    width: calc(100% - var(--header-padding) * 2);
    border: 1px solid #AFAFAF;
  }
}

.scrolled {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  &:after {
    opacity: 0;
  }
}

.address {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-text-color);
  width: 126px;
}

.leftSide {
  display: flex;
  gap: 40px;
  align-items: center;
}

.rightSide {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile {
  cursor: pointer;

  svg {
    transition: var(--defalut-color-change);
  }

  &:hover svg {
    border-radius: 50%;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  }
}
