.container {
  display: flex;
  flex-direction: column;
  padding: 44px 0;
}

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 24px;
}
